@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap");

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 9rem;
}

.header-text {
  color: hsl(210, 10%, 33%);
  font-size: 40px;
  margin-bottom: 1rem;
  text-align: center;
}

.desc-p {
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  text-align: center;
}

.text-section {
  max-width: 675px;
}

.hero-section {
  height: 60vh;
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.logo-img {
  margin-bottom: 5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.download-btn {
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 15px 35px;
  border-radius: 35px;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.download-btn:hover {
  opacity: 0.7;
}

.download-btn:active {
  opacity: 0.5;
}

.ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 3px 1px hsla(171, 64%, 33%, 0.7);
}

.mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 3px 1px hsl(233, 80%, 59%);
}

.feature-text {
  margin-bottom: 5rem;
}

.showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: 100%;
}

.computer-img {
  width: 110%;
}

.text-container {
  max-width: 400px;
  align-self: center;
}

.feature-p,
.feature-header {
  text-align: left;
}

.feature-header {
  font-size: 30px;
}

.feature-p {
  margin-bottom: 4em;
}

.access-text {
  margin-bottom: 6rem;
}

.col-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 50vh;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 400px;
}

.feature-img {
  margin-bottom: 30px;
}

.col-feature-header {
  font-size: 28px;
}

@media all and (max-width: 600px) {
  .container {
    padding: 10px 25px;
  }

  .desc-p {
    font-size: 20px;
  }

  .hero-section {
    background-image: url(images/bg-header-mobile.png);
    margin-bottom: 13rem;
  }

  .logo-img {
    margin: 2rem 0;
  }

  .download-btn {
    width: 100%;
  }

  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    width: 90%;
  }

  .feature-p,
  .feature-header {
    text-align: center;
  }

  .col-container {
    flex-direction: column;
    height: 100%;
    gap: 5rem;
    margin-top: 5em;
  }
}

.attribution {
  font-size: 18px;
  text-align: center;
  margin-top: 10rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: bold;
  font-style: italic;
}
